.header {
  display: flex;
  justify-content: space-between;
  padding: 17px 14px 0 21px;

  #bigAletter {
    user-select: none;
    font-size: xxx-large;

  }

  .fontOldenburg {
    font-family: Oldenburg, serif;

  }
}

