@import "../app.component";

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 10px;
  padding-left: 2%;
  padding-right: 2%;

  #langPicker {
    font-size: 1em;
    @media (min-width: $medium) {
      font-size: 1.1em;
    }
    @media (min-width: $big) {
      font-size: 1.5em;
    }
    cursor: pointer;
    align-self: center;
    align-items: flex-end;
    padding-right: 4%;
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 2px;

    &:hover {
      font-weight: bold;
    }
  }

  #bigAletter {
    margin-right: auto;

    user-select: none;
    font-size: 22px;

    &::first-letter {
      font-size: 45px;
    }

    a, a > span {
      text-decoration: none;
      color: white;
      font-family: Oldenburg, serif;
    }

    @media (min-width: $medium) {
      font-size: 35px;
      &::first-letter {
        font-size: 60px;
      }
    }
  }

  $fortypx: 40px;

  .menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: $fortypx;
    height: $fortypx;
    cursor: pointer;
    transition: all .5s ease-in-out;
    @media (min-width: $medium) {
      width: 50px;
      height: 50px;
    }
    @media (min-width: $big) {
      width: 60px;
      height: 60px;
    }

    .menu-btn__burger {
      width: $fortypx;
      @media (min-width: $medium) {
        width: 50px;
      }
      @media (min-width: $big) {
        width: 60px;
      }
      height: 6px;
      @media (min-width: $big) {
        height: 7px;
      }

      background: #fff;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
      transition: all .5s ease-in-out;

      &::before,
      &::after {
        content: '';
        position: absolute;
        width: $fortypx;
        @media (min-width: $medium) {
          width: 50px;
        }
        @media (min-width: $big) {
          width: 60px;
        }
        height: 6px;
        @media (min-width: $big) {
          height: 7px;
        }
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
        transition: all .5s ease-in-out;
      }

      &::before {
        transform: translateY(-14px);
        @media (min-width: $medium) {
          transform: translateY(-16px);
        }
        @media (min-width: $big) {
          transform: translateY(-19px);
        }
      }

      &::after {
        transform: translateY(14px);
        @media (min-width: $medium) {
          transform: translateY(16px);
        }
        @media (min-width: $big) {
          transform: translateY(19px);
        }
      }
    }

    /* ANIMATION */
    &.open .menu-btn__burger {
      transform: translateX(-50px);
      background: transparent;
      box-shadow: none;
    }

    &.open .menu-btn__burger::before {
      transform: rotate(45deg) translate(35px, -35px);
    }

    &.open .menu-btn__burger::after {
      transform: rotate(-45deg) translate(35px, 35px);
    }
  }


}


