<div class="container">
  <p class="contact-text">About me</p>
  <p class="middle-text">I am a Junior Web Developer who just finished vocational training in 'Web Application Development', I am currently
    working as a Back-End developer in Bilbomatica.</p>
  <p class="middle-text">Since I discovered that I was passionate about programming I have not stopped learning new techniques and
    languages. Due to that restlessness I am currently training myself in Angular and TypeScript.</p>
</div>
<div class="backgroundimg"></div>

