<section class="wrapper">
  <div class="main-content">
    <h3>{{"auth.intro" | translate}}</h3>
    <form (ngSubmit)="onSubmit(authForm)" #authForm="ngForm">
      <div class="input-group">
        <label for="name">Email</label>
        <input type="email"  id="name" autocomplete="off" email ngModel name="email" required>
      </div>
      <div class="input-group">
        <label for="password">{{"auth.password" | translate}}</label>
        <input type="password"  id="password" name="password" ngModel required>
      </div>
      <div class="input-group">
        <button type="submit">{{"auth.logIn" | translate}}</button>
      </div>
    </form>
  </div>
</section>
