<div class="container-text">
  <p class="contact-text">Let's get in touch</p>
  <div class="contact-medias">
    <div class="contact-medias-left">
      <p>Mail</p>
      <a href="mailto:aitorclzamakola@gmail.com" class="hover-underline-animation">aitorclzamakola@gmail.com</a>
    </div>
    <div class="contact-medias-right">
      <p>Social&nbsp;medias</p>
        <a href="https://www.linkedin.com/in/aitorcalderon/" target="_blank" class="hover-underline-animation">Linkedin</a><br>
        <a href="https://github.com/AitorCalderon99" target="_blank" class="hover-underline-animation">Github</a>
    </div>
  </div>

</div>
