<div class="workTextCont">
  <p class="contact-text">Work</p>

</div>

<div class="container-work">
  <div class="red">  </div>
  <div class="blue">  </div>
  <div class="green">  </div>
  <div class="red">  </div>
  <div class="blue">  </div>
  <div class="green">  </div>
  <div class="red">  </div>
  <div class="blue">  </div>
  <div class="green">  </div>
  <div class="red">  </div>
  <div class="blue">  </div>
  <div class="green">  </div>
  <div class="red">  </div>
  <div class="blue">  </div>
  <div class="green">  </div>
  <div class="red">  </div>
  <div class="blue">  </div>
  <div class="green">  </div>

</div>

