<div class="workTextCont">
  <p class="contact-text">Work</p>

</div>
<div class="main-container">
  <div class="container-work">
    <div class="card">
      <div class="content">
        <div class="content-header"><h1>Team Poket</h1>
          <p>Angular </p></div>

        <a class="read-more-link" (click)="seeMore()"
        >See more
          <svg fill="white" viewBox="0 0 16 8" class="arrow">
            <path
              d="M15.354 4.354a.5.5 0 000-.708L12.172.464a.5.5 0 10-.708.708L14.293 4l-2.828 2.828a.5.5 0 10.707.708l3.182-3.182zM0 4.5h15v-1H0v1z"
            />
          </svg>
        </a>
      </div>
    </div>

    <div class="card">
      <div class="content">
        <div class="content-header"><h1>Team Poket</h1>
          <p>Angular </p></div>

        <a class="read-more-link" (click)="seeMore()"
        >See more
          <svg fill="white" viewBox="0 0 16 8" class="arrow">
            <path
              d="M15.354 4.354a.5.5 0 000-.708L12.172.464a.5.5 0 10-.708.708L14.293 4l-2.828 2.828a.5.5 0 10.707.708l3.182-3.182zM0 4.5h15v-1H0v1z"
            />
          </svg>
        </a>
      </div>
    </div>

    <div class="card">
      <div class="content">
        <div class="content-header"><h1>Team Poket</h1>
          <p>Angular </p></div>

        <a class="read-more-link" (click)="seeMore()"
        >See more
          <svg fill="white" viewBox="0 0 16 8" class="arrow">
            <path
              d="M15.354 4.354a.5.5 0 000-.708L12.172.464a.5.5 0 10-.708.708L14.293 4l-2.828 2.828a.5.5 0 10.707.708l3.182-3.182zM0 4.5h15v-1H0v1z"
            />
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>
