<div class="container">
  <button class="btn btn-secondary mb-3" (click)="onLogout()">Log out</button>
  <div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          Work management
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
           data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Add new project
          </button>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
               aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">New Project</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form [formGroup]="workForm" (ngSubmit)="onSubmitWork()">
                  <div class="modal-body">
                    <div class="container-work">
                      <div class="mb-3">
                        <label class="form-label">Title</label>
                        <input type="text" class="form-control" formControlName="title">
                      </div>
                      <div class="mb-3">
                        <label class="form-label">Description</label>
                        <textarea class="form-control" cols="30" rows="10" formControlName="description"
                        ></textarea>
                      </div>
                      <div class="mb-3">
                        <label class="form-label">Coded with</label>
                        <input type="text" class="form-control" formControlName="codedwith">
                      </div>
                      <div class="mb-3">
                        <label class="form-label">Link</label>
                        <input type="text" class="form-control" formControlName="link">
                      </div>
                      <div class="mb-3">
                        <label class="form-label">Images</label>
                        <input type="file" (change)="workImages($event)" multiple="multiple" class="form-control" formControlName="images">
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                  </div>
                </form>
              </div>
            </div>
          </div>

          <table class="table">
            <thead>
            <tr>
              <th scope="col">Title</th>
              <th scope="col">ID</th>
              <th scope="col">Coded with</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let project of works; let i = index">
              <td class="first-td">
                <a [href]="project.link">{{project.title}}</a></td>
              <td>{{project.id}}</td>
              <td>{{project.codedwith }}</td>
              <td>

                <button class="btn btn-danger" (click)="deleteWork(project)">Delete</button>

              </td>
            </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          Resume
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
           data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <div class="container-resumes">
            <div class="button-container mb-2">
              <button class="btn btn-primary" (click)="addResume.click()">Add new</button>
            </div>
            <table class="table">
              <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Size</th>
                <th scope="col">Date</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let resume of resumes; let i = index">
                <td class="first-td">
                  <a [href]="resume.url">{{resume.name}}</a></td>
                <td>{{resume.size}}</td>
                <td>{{resume.date }}</td>
                <td>
                  <button class="btn btn-danger" (click)="delete(resume.name, 'resume')">Delete</button>
                </td>
              </tr>
              </tbody>
            </table>
            <input type="file" (change)="prepareUpload($event, 'resume')" placeholder="Add resume" #addResume class="hidden">
          </div>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          About background image
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
           data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">

          <div class="container-resumes">
            <div class="button-container mb-2">
              <button class="btn btn-primary" (click)="addAboutimg.click()">Add new</button>

            </div>
            <table class="table">
              <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Size</th>
                <th scope="col">Date</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let img of aboutImgs; let i = index">
                <td class="first-td">
                  <a [href]="img.url">{{img.name}}</a></td>
                <td>{{img.size}}</td>
                <td>{{img.date }}</td>
                <td>
                  <button class="btn btn-danger" (click)="delete(img.name, 'aboutimgs')">Delete</button>
                </td>
              </tr>
              </tbody>
            </table>
            <input type="file" (change)="prepareUpload($event, 'aboutimgs')" #addAboutimg class="hidden">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
