@import "../app.component";

$visible: none;

.homeSvg{
  display: $visible;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.overlay-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;

  .home:hover {
    $visible: block;
  }

  a {
    color: lightgrey;
    text-decoration: none;
    font-weight: bold;
    font-size: 2em;
    -webkit-transition: font-size .5s ease;
    -moz-transition: font-size .5s ease;
    -o-transition: font-size .5s ease;
    transition: font-size .5s ease;

    @media (min-width: $small) {
      &:hover {
        filter: brightness(300%);
        font-size: 4em;
      }
      font-size: 3em;
    }
    @media (min-width: $medium) {
      font-size: 5.5em;
      &:hover {
        filter: brightness(300%);
        font-size: 6em;
      }
    }
    @media (min-width: $big) {
      font-size: 6.2em;
      &:hover {
        filter: brightness(300%);
        font-size: 7em;
      }
    }



    &:last-child {
      font-size: 1em;
      @media (min-width: $small) {
        font-size: 1.3em;
      }
      @media (min-width: $medium) {
        font-size: 1.9em;
      }
      @media (min-width: $big) {
        font-size: 2.5em;
      }
      padding-top: 6px;
    }

  }
}
