/* You can add global styles to this file, and also import other style files */
@import './app/shared/bacground-rain/background-rain';

@font-face {
  font-family: Oldenburg;
  src: url(assets/fonts/Oldenburg/Oldenburg-Regular.ttf) format("opentype");
}
@font-face {
  font-family: Kodchasan;
  src: url(assets/fonts/Kodchasan/Kodchasan-ExtraLight.ttf) format("opentype");
}
*{
  font-family: Kodchasan, serif;

  body {
    background-color: black;
  }
}





