.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 80vh;

  .main-text {
    font-size: 6vw;
    font-weight: bold;
    color: #fff;

    span {
      box-shadow: inset 0 0 0 0 white;
      color: whitesmoke;
      margin: 0 -.25rem;
      padding: 0 .25rem;
      transition: color .8s ease-in-out, box-shadow .8s ease-in-out;

      &:hover {
        box-shadow: inset 1500px 0 0 0 ghostwhite;
        color: black;
      }
    }
  }


  .category-text {
    font-size: 4vw;
    color: white;
  }

  .row-about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.3vw;

    a {
      text-decoration: none;
      color: white;
    }

    .hover-underline-animation {
      display: inline-block;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 1.7px;
        bottom: 0;
        left: 0;
        background-color: white;
        transform-origin: bottom right;
        transition: transform 0.35s ease-out;
      }

      &:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }

    :first-child {
      margin-right: 4vw;
    }
  }
}

