@import "../app.component";

.bigContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 80vh;

  .main-text {
    font-size: 5.5vw;
    font-weight: bold;
    color: #fff;

    span {
      display: inline-block;
      white-space: nowrap;
      box-shadow: inset 0 0 0 0 white;
      color: whitesmoke;
      margin: 0 -.25rem;
      padding: 0 .25rem;
      transition: color .8s ease-in-out, box-shadow .8s ease-in-out;

      &:hover {
        box-shadow: inset 1500px 0 0 0 ghostwhite;
        color: black;
      }
    }
  }

  .category-text {
    font-size: 4vw;
    color: white;
  }

  .row-about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.3vw;

    a {
      text-decoration: none;
      color: white;
    }

    :first-child {
      margin-right: 4vw;
    }
  }
}

